/* Selects the image with a class of kitty-1 */
.kitty-1 {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Selects the image with an id of kitty-2 */
#kitty-2 {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Selects the image inside the element with an id of basket (via descendent relationship) */
#basket img {
  position: absolute;
  top: 30px;
  left: 30px;
}

/* Selects the image based on the respective sibling element */
#ball + img {
  position: absolute;
  top: 40px;
  left: 40px;
}

/* Selects the image that has an alt attribute value matching "Kitty 5", via the attribute selector */
img[alt="Kitty 5"] {
  position: absolute;
  top: 50px;
  left: 50px;
}


